@page "/"

<div class="hero-section">
	<div class="hero-bg display-table center-text">
		<h1 class="title display-table-cell hero-text"><b>Holey Narratives</b></h1>
	</div><!-- slider -->
</div>
<section class="blog-area section">
	<div class="container">

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="card h-100">
					<div class="single-post post-style-2 post-style-3">
						<div class="blog-info my-title-block">

							<h4>"The standard narrative, has holes in it.</h4>
							
							<h4>That is what I'm going to say."</h4>
							
							<h4>-- Sheikh Yasir Qadhi</h4>
							
						</div><!-- blog-right -->
					</div><!-- single-post extra-blog -->
				</div><!-- card -->
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->
		
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="card h-100">
					<div class="single-post post-style-2 post-style-3">
						<div class="blog-info notes">
						<p>
							This is a small curated personal collection and cheatsheet of hadiths. 
						</p>
						<p>
							Hadiths are reports about the lifestyle (sunnah) of the prophet of Islam. 
							They are a primary foundation of Islamic Law (fiqh) and lifestyle alongside the Quran. 
							This is because the prophet's life is considered (the closest to) a perfect divinely ordained life. 
							Emulation of him in legal, social, and personal life is considered mandatory for a believer according to mainstream Islamic belief. 
						</p>
						<p>
							Any applicable copyrights regarding the English translations of these hadiths belong to <a href="https://sunnah.com">Sunnah.com</a> or their licensors. 
							Short sections are displayed here strictly in a <i>fair use</i> capacity. 
							The full hadiths and their grades can be found in the respective hyperlinked Sunnah.com page.  
						</p>
						<p>
							Please feel free to contact them if you have any questions about phobias, mistranslations, or orientalists. 
						</p>
						</div><!-- blog-right -->

					</div><!-- single-post extra-blog -->
				</div><!-- card -->
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->
		
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="card h-100">
					<div class="single-post post-style-2 post-style-3">
						<div class="blog-info my-title-block">

							<div class="row home-video-row">
								<div class="col-lg-2 col-md-1">
								</div>
								<div class="col-lg-8 col-md-10 home-video-container">

										<iframe class="home-video-frame"
											src="https://www.youtube.com/embed/gAzAEDuMMzM">
										</iframe>
								</div>
							</div>
							
						</div><!-- blog-right -->
					</div><!-- single-post extra-blog -->
				</div><!-- card -->
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->
		
		<div class="row">
			<div class="col">
				<div class="card h-100">


							<iframe class="spotifybox" src="https://open.spotify.com/embed/album/4sZzH6dKEbs2DGuQvINUgb" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


				</div><!-- card -->
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->
		
		<a class="load-more-btn" href="/scriptures"><b>Explore the holes</b></a>
	</div>
</section>
	

	


