@page "/"

<div class="hero-section">
	<div class="hero-bg display-table center-text">
		<h1 class="title display-table-cell hero-text"><b>Holey Narratives</b></h1>
	</div><!-- slider -->
</div>
<section class="blog-area section">
	<div class="container">

		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="card h-100">
					<div class="single-post post-style-2 post-style-3">
						<div class="blog-info my-title-block">

							<h4>The Standard Narrative, has holes in it.</h4>
							
							<h4>That is what I'm going to say.</h4>
							
							<p>
								
							</p>
							<div class="row home-video-row">
								<div class="col-lg-2 col-md-1">
								</div>
								<div class="col-lg-8 col-md-10 home-video-container">

										<iframe class="home-video-frame"
											src="https://www.youtube.com/embed/gAzAEDuMMzM">
										</iframe>

								</div>
							</div>
							<iframe src="https://open.spotify.com/embed/album/4sZzH6dKEbs2DGuQvINUgb" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
							<img class="home-image" src="images/holes-poster.png" alt="holes poster">
						</div><!-- blog-right -->
					</div><!-- single-post extra-blog -->
				</div><!-- card -->
			</div><!-- col-sm-8 col-sm-offset-2 -->
		</div><!-- row -->
		<a class="load-more-btn" href="/scriptures"><b>Explore the holes</b></a>
	</div>
</section>
	

	


